<div class="header">
    <div class="section">
        <h1>Pokemon</h1>
        <span>
            <input placeholder="Search" type="text" (input)="searchList()" class="search-field margin-right" [(ngModel)]="search">
        <mat-form-field class="margin-right">
            <mat-label>Select Limit</mat-label>
            <mat-select [(value)]="limit" (valueChange)="ngOnInit()">
                <mat-option [value]="value" *ngFor="let value of limitList">
                    {{value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="margin-right" (click)="prevList()" color="primary">Prev</button>
        <button mat-raised-button class="margin-right" (click)="nextList()" color="primary">Next</button>
    </span>
        
    </div>
</div>
<div class="content">
    <mat-card class="card" *ngFor="let item of pokemonList"><span>
            {{item.name | titlecase}}</span>
        <a class="url" (click)="getDetails(item.url)">more details</a>
    </mat-card>
</div>
<div class="loader-div" *ngIf="showLoader">
        <mat-spinner class="spinner"></mat-spinner>
</div>
<app-pokimon-details *ngIf="details" [details]= "details"></app-pokimon-details>
<router-outlet></router-outlet>